In [9]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("techwar.csv", on_bad_lines="skip")
print("Dataset Loaded Successfully!")

Dataset Loaded Successfully!

In [16]:
df.shape

(9, 8)

In [29]:
df = pd.read_csv("support_data.csv")
df.head()

,Created_Date,Region,City,Issue_Category,Priority,Resolution_Time_Hours,Customer_Type,Satisfaction_Score
0,2022-07-27,NaN,Pune,Billing,Medium,36,Existing,5
1,2024-04-04,NaN,Chennai,NaN,Medium,10,Existing,2
2,2024-02-12,Central,Ahmedabad,Network,High,41,New,2
3,2022-02-18,Central,Bengaluru,Service,Low,206,New,4
4,2023-01-04,Central,Chennai,Hardware,Critical,31,Existing,5

In [19]:
df = pd.read_csv("support_data.csv")
df.tail()

,Created_Date,Region,City,Issue_Category,Priority,Resolution_Time_Hours,Customer_Type,Satisfaction_Score
4,2023-01-04,Central,Chennai,Hardware,Critical,31,Existing,5
5,2022-05-01,West,Ahmedabad,Billing,Low,175,New,4
6,2023-02-24,NaN,Kolkata,Billing,Low,17,Existing,3
7,2023-12-02,North,Mumbai,NaN,Medium,87,Existing,3
8,2023-09-03,NaN,Kolkata,Network,High,223,New,3

In [21]:
df = pd.read_csv("support_data.csv") 
print(df[df.isnull().any(axis=1)])

  Created_Date Region     City Issue_Category Priority  Resolution_Time_Hours  \
0   2022-07-27    NaN     Pune        Billing   Medium                     36
1   2024-04-04    NaN  Chennai            NaN   Medium                     10
6   2023-02-24    NaN  Kolkata        Billing      Low                     17
7   2023-12-02  North   Mumbai            NaN   Medium                     87
8   2023-09-03    NaN  Kolkata        Network     High                    223

  Customer_Type  Satisfaction_Score
0      Existing                   5
1      Existing                   2
6      Existing                   3
7      Existing                   3
8           New                   3

In [25]:
df = pd.read_csv("support_data.csv") 
print(df.dtypes)

Created_Date             object
Region                   object
City                     object
Issue_Category           object
Priority                 object
Resolution_Time_Hours     int64
Customer_Type            object
Satisfaction_Score        int64
dtype: object

In [26]:
duplicates = df.duplicated()
print("Number of duplicate rows:", duplicates.sum())
print(df[duplicates])

df = df.drop_duplicates()
print("Duplicates removed, new shape:", df.shape)

Number of duplicate rows: 0
Empty DataFrame
Columns: [Created_Date, Region, City, Issue_Category, Priority, Resolution_Time_Hours, Customer_Type, Satisfaction_Score]
Index: []
Duplicates removed, new shape: (9, 8)

In [27]:

df.describe()

       Resolution_Time_Hours  Satisfaction_Score
count               9.000000            9.000000
mean               91.777778            3.444444
std                85.788662            1.130388
min                10.000000            2.000000
25%                31.000000            3.000000
50%                41.000000            3.000000
75%               175.000000            4.000000
max               223.000000            5.000000

In [28]:
print("Issue Category Distribution:")
print(df['Issue_Category'].value_counts())

print("\nPriority Distribution:")
print(df['Priority'].value_counts())

print("\nRegion Distribution:")
print(df['Region'].value_counts())

print("\nCustomer Type Distribution:")
print(df['Customer_Type'].value_counts())

Issue Category Distribution:
Issue_Category
Billing     3
Network     2
Service     1
Hardware    1
Name: count, dtype: int64

Priority Distribution:
Priority
Medium      3
Low         3
High        2
Critical    1
Name: count, dtype: int64

Region Distribution:
Region
Central    3
West       1
North      1
Name: count, dtype: int64

Customer Type Distribution:
Customer_Type
Existing    5
New         4
Name: count, dtype: int64